.modal {
	background-color: #fff;
	max-height: 80%;
}

.modal.small {
	width: 35%
}

.modal .modal-footer {
	padding: 4px 20px;
	background-color: #fff;
}

.modal-full {
	width: 100% !important;
	max-height: 100%;
	height: 100%;
	top: 0 !important;
	border-radius: 0 !important;
}

.modal-full .modal-header {
	width: inherit;
	padding: 1rem 2rem;
	border-bottom: 1px solid #eee
}